<?xml version="1.0"?>

<model>
  <name>turtlebot</name>
  <version>0.0</version>
  <sdf version="1.6">my_robot.urdf</sdf>

  <author>
    <name>yourname</name>
    <email>yourname@TODO.TODO</email>
  </author>

  <description>
    Misc models for Kobuki-based Turtlebot 2 - collected and update for ROS 2
  </description>
</model>
