<?xml version="1.0"?>

<model>
  <name>turtlebot2</name>
  <version>0.0</version>
  <sdf version="1.6">kobuki_hexagons_astra_hokuyo.urdf</sdf>

  <author>
    <name>CHRISLab</name>
    <email>robotics@cnu.edu</email>
  </author>

  <description>
    Misc models for Kobuki-based Turtlebot 2 - collected and updated for ROS 2
  </description>
</model>
